{
  BasedOnStyle: LLVM,
  UseTab: ForIndentation,
  IndentWidth: 8,
  TabWidth: 8,
  BreakBeforeBraces: Custom,
  BraceWrapping:
    {
      AfterClass: false,
      AfterControlStatement: false,
      AfterEnum: false,
      AfterFunction: true,
      AfterNamespace: false,
      AfterStruct: false,
      AfterUnion: false,
      AfterExternBlock: true,
      BeforeCatch: false,
      BeforeElse: false,
      IndentBraces: false,
      SplitEmptyFunction: false,
      SplitEmptyRecord: false,
      SplitEmptyNamespace: false,
    },
  AllowShortIfStatementsOnASingleLine: false,
  IndentCaseLabels: true,
  ColumnLimit: 80,
  AccessModifierOffset: -8,
  NamespaceIndentation: None,
  FixNamespaceComments: false,
  SortIncludes: false,
}
